body{
    font-family: Futura;
}

 button  {
   background: rgb(177, 167, 167);
   backface-visibility: hidden;
   border-color: black;
   border-radius: .375rem;
   border-style: solid;
   border-width: .125rem;
   box-sizing: border-box;
   color: white;
   cursor: pointer;
   display: inline-block;
   font-family: Circular,Helvetica,sans-serif;
   font-size: 1.125rem;
   font-weight: 700;
   letter-spacing: -.01em;
   line-height: 1.3;
   padding: .875rem 1.125rem;
   position: relative;
   text-align: left;
   text-decoration: none;
   transform: translateZ(0) scale(1);
   transition: transform .2s;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
 }

button:not(:disabled):hover {
  transform: scale(1.05);
}

button:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

button:focus {
  outline: 0 solid transparent;
}

button:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

button:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

button:focus:not(:focus-visible):before {
  border-width: 0;
}

button:not(:disabled):active {
  transform: translateY(.125rem);
}
.music-button {
  margin-left: 4%;
  margin-right: 4%;
}


#game {
  margin-left: 3%;
  margin-top: 3%;
  margin-right: auto ;
  display: flex;
}

.game{
  float: left;
}

.status{
  margin-left: 30%;
}
.status p{
  font-weight: bold;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-place {
  border: 4px solid rgba(152, 133, 139, 0.85);
}

#logo{
  margin-top: 6%;
  margin-right: 6%;
}

#next{
  margin-top: 2%;
  margin-right: 6%;
  margin-left: 1%;
}
.status .gray{
  width: 40%;
  background-color: gray;
}
.controller{
  width: 10%;
  margin-right: 20%;
  margin-top: -28%;
  float: right
}

.controller p{
  margin-top: 0px;
  font-weight: bold;
  margin-bottom: 30px;
}
.controller div{
  display: flex;
}
.controller img{
  margin-right: 20px;
  margin-bottom:10px;
  height: 5%;
  width: 25%;
}
.controller .esc{
  margin-top: -10px;
}

